<mat-sidenav-container>
  <!-- <mat-sidenav  [opene/d]="openSideNav">  -->
  <mat-sidenav #sidenav role="navigation">
   <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sideNavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <!-- <button (click)="openSideNav = true">Show Side Nav</button> -->
    <!-- <button (click)="sidenav.toggle()">Show Side Nav</button> -->
  </mat-sidenav-content>
</mat-sidenav-container>
